<h1>메일 목록</h1>

<a href="/mailbox/create_mail">메일쓰기</a>

<br><br>

<% @mail_all.each do |m| %>
    보내는 메일: <%= m.from_m %> <br>
    받는 메일: <%= m.to_m %> <br>
    제목: <%= m.title %> <br>
    내용: <%= m.content %> <br><hr>
<% end %>